.container {
  padding: 96px;
  color: #232129;
}

.title {
  margin-bottom: 4rem;
}

.main {
  margin-bottom: 48px;
}

.code {
  padding: 4px;

  font-size: 1.25rem;
  color: #8a6534;

  background-color: #fff4db;
  border-radius: 4px;
}
